<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332412504075-kv8lf2blhliieg4c2r625ab2ich0n3r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332412504075-kv8lf2blhliieg4c2r625ab2ich0n3r3</string>
	<key>API_KEY</key>
	<string>AIzaSyAENOYyMYVTW8wq884pSzJ-AXFBd8cC-eA</string>
	<key>GCM_SENDER_ID</key>
	<string>332412504075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bx.Places.ThePlaces</string>
	<key>PROJECT_ID</key>
	<string>theplaces-c6a9c</string>
	<key>STORAGE_BUCKET</key>
	<string>theplaces-c6a9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332412504075:ios:c31a3fb5a3c2761a7a1f0e</string>
</dict>
</plist>