<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41284623090-d91ubbq7nv00is8salcruu902q9mtu1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41284623090-d91ubbq7nv00is8salcruu902q9mtu1r</string>
	<key>API_KEY</key>
	<string>AIzaSyApVpA3kndTxFzX0P0RrVr82oq1kG2oqxE</string>
	<key>GCM_SENDER_ID</key>
	<string>41284623090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bx.signal</string>
	<key>PROJECT_ID</key>
	<string>signal-101b7</string>
	<key>STORAGE_BUCKET</key>
	<string>signal-101b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41284623090:ios:45c6bc62fdeee906d3ce6b</string>
</dict>
</plist>